<ul class="nav" id="side-menu">
    <li>
        <!-- user image section-->
        <div class="user-section">
            <div class="user-section-inner">
                <img src="assets/img/user.jpg" alt="">
            </div>
            <div class="user-info">
                <div>Jonny <strong>Deen</strong></div>
                <div class="user-text-online">
                    <span class="user-circle-online btn btn-success btn-circle "></span>&nbsp;Online
                </div>
            </div>
        </div>
        <!--end user image section-->
    </li>
    <li class="">
        <a href="index.html"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i>Quản lý tài khoản<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="flot.html">Quản lý tài khoản</a>
            </li>
            <li>
                <a href="morris.html">Morris Charts</a>
            </li>
        </ul>
        <!-- second-level-items -->
    </li>
    <li>
        <a href="timeline.html"><i class="fa fa-flask fa-fw"></i>Quản lý thẻ gửi xe</a>
    </li>
    <li>
        <a href="tables.html"><i class="fa fa-table fa-fw"></i>Quản lý lịch sử gửi xe</a>
    </li>
</ul>